* {
    box-sizing: border-box;
}

body {
    background-color: #404040;
    padding: 0;
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #fff;
}

p,h1,h2,h3,h4 {
    margin: 0;
}

input[type="file"] {
    display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #353535;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hidden {
    display: none !important;
}

.header-title {
    color: #fff;
    text-align: left;
    padding: 20px 0px;
    font-size: 2.5rem;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}



.btn {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    width: 100px;
    height: 30px;
    padding: 5px 15px;
}

.tasks-btn-new-task{
    background-color: #58b200;
}

.tasks-btn-new-task:hover {
    background-color: #50a200;
}

.tasks-list {
    margin-top: 2rem;
    background-color: #353535;
    padding: 0px 0px;
    height: 80%;
    overflow: auto;
}

.tasks-list li {
    padding: 10px 0px;
    background-color: #2b2b2b;
    margin-bottom: 5px;
    padding:10px 25px;
    border-bottom: 2px solid #3b86e8;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.tasks-list-percent{
    font-size: 1.2rem;
}

.tasks-actions {
    margin-top: 2rem;
}

#export-tasks {
    background-color: #3b86e8;
    text-decoration: none;
}

.tasks-actions-import {
    margin-left: 20px;
    background-color: #353535;
}

#clear-tasks {
    margin-left: 20px;
    background-color: #b20000;
}

#delete-tasks {
    background-color: #b20000;
}

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-bottom: 20px;
}

.footer h1 {
    font-size: 1.3rem;
    color: #fff;
    margin: 0;
}

.tasks{
height: 60vh;
}


@media  (max-width:1100px) {
    .container{
        max-width: 700px;
    }
 
}

@media  (max-width:800px) {
    .tasks,.header-title{
        width: 400px;
    }

    .header-title{
        font-size: 2rem;
        margin-bottom: 10px;
    }


    .tasks{
        height: 70vh;
        }
}

@media  (max-height:530px) {
    .tasks{
        height: 40vh;
        }

    .footer{
        height: 20px;
        padding-bottom: 30px;
    }

    .header-title{
        margin: 0;
    }

    
    .tasks-btn-new-task{
        margin: 0;
    }
}

@media  (max-width:450px) {
    .container{
        max-width: 350px;
    }

}